POSTGRES_HOSTNAME=YOUR_POSTGRES_HOSTNAME
POSTGRES_USERNAME=YOUR_POSTGRES_USERNAME
POSTGRES_PASSWORD=YOUR_POSTGRES_PASSWORD
POSTGRES_PORT=YOUR_POSTGRES_PORT
POSTGRES_DB=POSTGRES_DB_NAME
PORT=LOCAL_PORT # 3000
RESEND_API_KEY=YOUR_RESEND_API_KEY
MAIL_SENDER=YOUR_MAILER
JWT_SECRET=SOME_JWT_SECRET
JWT_EXPIRY=JWT_TOKEN_EXPIRY
PAYTM_MERCHANT_ID=YOUR_PAYTM_MERCHANT_ID
PAYTM_MERCHANT_KEY=YOUR_PAYTM_MERCHANT_KEY
CLOUDINARY_PRESET=YOUR_CLOUDINARY_PRESET
CLOUDINARY_CLOUD_NAME=YOUR_CLOUDINARY_CLOUD_NAME
CLOUDINARY_API_KEY=YOUR_CLOUDINARY_API_KEY
CLOUDINARY_API_SECRET=YOUR_CLOUDINARY_API_SECRET
NODE_ENV=NODE_ENVIRONMENT # production
YOUTUBE_API_KEY=YOUR_YOUTUBE_API_KEY
GOOGLE_CLIENT_ID=YOUR_GOOGLE_CLIENT_ID
GOOGLE_CLIENT_SECRET=YOUR_GOOGLE_CLIENT_SECRET
GOOGLE_CALLBACK_URL=SOME_GOOGLE_CALLBACK_URL
CORS_ORIGIN=YOUR_CORS_ORIGIN
