@reference "./index.css";

.embla {
  margin: auto;

  --slide-spacing: 1rem;
  --slide-size: 70%;
}

.slider-thumb {
  border-radius: 500px;
}

.embla__viewport {
  overflow: hidden;
}

.embla__container {
  display: flex;
  touch-action: pan-y pinch-zoom;
  margin-left: calc(var(--slide-spacing) * -1);
}

.embla__slide {
  transform: translate3d(0, 0, 0);
  flex: 0 0 var(--slide-size);
  min-width: 0;
  padding-left: var(--slide-spacing);
}

.embla__slide__number {
  border: 0.2rem solid var(--detail-medium-contrast);
  font-size: 4rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--slide-height);
  user-select: none;
}

.embla__controls {
  display: grid;
  grid-template-columns: auto 1fr;
  justify-content: space-between;
  gap: 1.2rem;
}

.embla__buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.6rem;
  align-items: center;
}

.embla__button {
  -webkit-tap-highlight-color: rgba(var(--text-high-contrast-rgb-value), 0.5);
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  touch-action: manipulation;
  display: inline-flex;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  padding: 0;
  margin: 0;
  border: 0.2rem solid var(--detail-medium-contrast);
  width: 3.6rem;
  height: 3.6rem;

  z-index: 1;
  border-radius: 50%;
  color: var(--text-body);
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotate(0deg);
}

.embla__button--disabled {
  color: var(--detail-high-contrast);
}

.embla__button__svg {
  width: 35%;
  height: 35%;
}

.embla__dots {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  margin-right: calc((2.6rem - 1.4rem) / 2 * -1);
}

.embla__dot {
  -webkit-tap-highlight-color: rgba(var(--text-high-contrast-rgb-value), 0.5);
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  touch-action: manipulation;
  display: inline-flex;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  padding: 0;
  margin: 0;
  width: 2.6rem;
  height: 2.6rem;

  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  position: relative;
}

.embla__dot:before,
.embla__dot:after {
  width: 1.4rem;
  height: 1.4rem;

  border-radius: 50%;
  position: absolute;
  display: flex;
  align-items: center;
  content: "";
}

.embla__dot:before {
  border: 0.2rem solid var(--detail-medium-contrast);
}

.embla__dot:after {
  border: 0.2rem solid var(--text-body);
  opacity: 0;
}

.embla__dot--selected:after {
  opacity: 1;
}

@media screen and (width < 640px) {
  .embla {
    --slide-size: 100%;
  }
}

.ql-container.ql-snow {
  border: none !important;
  font-family: var(--font-lora);
  min-height: 80px;
}

.ql-editor:before {
  @apply text-field-placeholder!;
}

.ql-tooltip {
  @apply bg-background-secondary! rounded-3xl p-3! text-black! border-none! shadow-sm!;
}

.ql-snow .ql-tooltip.ql-editing input[type="text"] {
  @apply outline-none! rounded-lg! px-2! py-3! border;
}

.ql-snow .ql-tooltip.ql-editing input[type="text"]:focus-visible {
  @apply ring-2 ring-accent border-transparent!;
}

.ql-action {
  @apply text-accent! font-semibold! py-2 rounded-xl w-fit!;
}

.ql-remove {
  @apply text-danger! font-semibold! rounded-lg py-2;
}

.ql-picker {
  @apply h-fit! w-12!;
}

.ql-picker-options {
  @apply mt-0.5!;
}

.ql-picker-label {
  @apply bg-background! w-12! ring-accent px-2! text-foreground! hover:text-accent! py-1.5! rounded-3xl! outline-none!;
}

.ql-picker-label:focus-visible {
  @apply ring-2 text-foreground!;
}

.ql-picker-label[aria-expanded="true"] {
  @apply text-foreground! border-default!;
}

.ql-picker-options {
  @apply rounded-3xl! p-0! bg-background! text-foreground! border-default!;
}

.ql-picker-item {
  @apply p-2! focus-visible:outline-none focus-visible:ring-2 ring-accent first:rounded-t-3xl last:rounded-b-3xl;
}

.ql-picker-item:hover {
  @apply bg-background-secondary!;
}

.ql-toolbar:after {
  @apply absolute!;
}

.duration-input::-webkit-inner-spin-button,
.duration-input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="file"]::file-selector-button {
  @apply text-muted;
}

.toast {
  @apply flex items-center;
}

.ring-visible {
  @apply ring-accent focus-visible:ring-2 focus-visible:outline-none;
}

.ring-visible-offset {
  @apply ring-accent focus-visible:ring-2 focus-visible:outline-none focus-visible:ring-offset-2 ring-offset-background;
}

.button-linear {
  @apply bg-linear-to-b bg-transparent from-accent-soft via-accent/50 to-accent dark:from-accent/40 dark:via-accent/80;
}
